.value {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  color: #2e2f42;
}

.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}

.field {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.timer {
  display: flex;
  gap: 24px;
  margin-top: 32px;
  justify-content: center;
}
